<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Facturacion</title>
</head>
<body>
<h1>BIENVENIDO</h1>


	<script src="../../../../dependencies/jquery/dist/jquery.js"></script>
	<script src="../../../../dependencies/angular/angular.js"></script>
	<script src="../../../../dependencies/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../../../../dependencies/angular-animate/angular-animate.js"></script>
	<script src="../../../../dependencies/angular-cookies/angular-cookies.js"></script>
	<script src="../../../../dependencies/angular-messages/angular-messages.js"></script>
	<script src="../../../../dependencies/angular-resource/angular-resource.js"></script>
	<script src="../../../../dependencies/angular-route/angular-route.js"></script>
	<script src="../../../../dependencies/angular-sanitize/angular-sanitize.js"></script>
	<script src="../../../../dependencies/angular-touch/angular-touch.js"></script>
	<script src="../../../../dependencies/angular-ui-grid/ui-grid.js"></script>
</body>
</html>